<body>
  <br>
  <h1><b>LOCAL REPOSITORY</b></h1>
  <br>
  
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Downloads">
  </mat-form-field>
  
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="filename">
    <th mat-header-cell *matHeaderCellDef> File Name </th>
    <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef> URL </th>
    <td mat-cell *matCellDef="let element"> {{element.url}} </td>
  </ng-container>

  <ng-container matColumnDef="filesize">
    <th mat-header-cell *matHeaderCellDef> File Size </th>
    <td mat-cell *matCellDef="let element"> {{element.filesize}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> {{element.delete}} 
        <button mat-icon-button class="btn-delete" type="submit"><mat-icon>delete</mat-icon></button>
    </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</body>